/* Position */
#navbar {
    display: none;
}

#welcome-section {
    min-height: 100vh;
}
    .name {
        float: left;
        padding-left: 2%;
    }
    .contact-mobile {
        float: right;
        padding-right: 2%;
    }
    .welcome-title {
        padding: 40% 5% 5% 5%;
    }

#projects {
    margin-bottom: 25%;
}
    .section-title {
        margin: 3% 0;
    }
    .project-tile {
        margin-top: 8%;
        padding: 4%;
    }
    .project-tile img {
        width: 100%;
    }
        .project-tile_container {
            display: flex;
        }
            .project-tile_left {
                width: 60%
            }
            .project-tile_right {
                width: 40%
            }

/* Formating text */
.welcome-title,
.section-title {
    font-family: 'Raleway', sans-serif;
    word-wrap: break-word;
}
.welcome-title {
    font-size: 8.7vw;
    line-height: 14vw;
}
.section-title {
    font-size: 17vw;
    line-height: 13vw;
}
.text_tab {
    margin-left: 40%;
}

/* Styles */
.project-tile {
    border-top: 3px black solid;
}

/* Desktop */
@media (min-width: 650px) {

    .contact-mobile {
        display: none;
    }
    
    #navbar {
        display: block;
        position: fixed;
        top: 0;
        width: 20%
    }
    
    .name {
        padding-top: 20%;
    }
    .welcome-title {
        padding: 0 2% 5% 30%;
        font-size: 7vw;
        line-height: 11vw;
    }

    section {
        margin-left: 20%;
    }
}